node_modules
npm-debug.log
.svelte-kit
build
.git
.gitignore
README.md
.env
.env.local
.DS_Store
*.md
!package.json
!package-lock.json
coverage
.vscode
.idea
dist
analytics.json
e2e
playwright.config.ts
vitest-setup-client.ts
*.spec.ts
*.test.ts
